.homeScreen {
  background-color: #fafafa;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#logo {
  position: absolute;
  left: 420px;
  top: 10px
}

#searchBar{
  position: absolute;
  left: 770px;
  top: 15px;
  
}

#searchInput{
  font-size: 20px;
  background-color: #efefef;
  border: none;
  width: 120%;
  height: 30px;
  border-radius: 4px
}

#profilePicture{
  position: absolute;
  left: 1350px;
  border-radius: 50%;
  top: 15px;
}

#createButton{
  position: absolute;
  left: 1300px;
  top: 7px
}

#homeButton{
  position: absolute;
  left: 1230px;
  top: 10px
}

#chatIcon{
  position: absolute;
  left: 1270px;
  top: 15px
}

.header{
  border-bottom: 1px;
  border-color: #dfdfdf;
  border-style: solid;
  height: 60px;
  background-color: #ffffff;
}


#storiesList > li{
  display: inline-block;
}

#storiesList{
  position: absolute;
  left: 420px;
  top: 100px;
  border: 1px;
  border-color: #dfdfdf;
  border-style: solid;
  width: 36%;
  height: 10%;
}

.storyBubble{
  padding: 10px 10px;
  position: relative;
  top: -30px;
  z-index: -1
}

.storyBubbleImage{
  border-radius: 50%;
}

#storyNames{
  position: absolute;
  top: 50px
}

.userBubble{
  padding: 0px 10px 0px 10px;
  border-radius: 50%;
  position: relative;
  top: 10px
}

.userName{
  position:relative;
  top: -13px;
  left: 10px
}

#pictures{
  position: absolute;
  left: 420px;
  top: 200px
}

#commentPost{
  color: #00BFFF;
  height: 35px;
  border:none
}

#homeProfile{
  float:left;
  border-radius: 50%;
  padding: 0px 5px;
  position: relative;
  top: -5px
}


#wholePost{
  border: 1px;
  border-color: #dfdfdf;
  border-style: solid;
}

#commentButton{
  position:absolute;
  top: 665px;
}

#chatHome{
  position: absolute;
  top: 667px;
  left: 60px
}

.likeButton{
  width:30px;
  height: 30px
}

#captionUsername{
  font-weight:bold;
}

#commentUsername{
  font-weight:bold;
}

#captionDiv{
  padding: 0px 0px 10px 0px
}

#commentsLikes{
  position:relative;
  left: 10px
}

#photoAddComment{
  width: 600px;
  height: 30px;
}

#addCommentDiv{
  padding: 15px 0px 0px 0px
}

#profileInfo{
  position:absolute;
  left: 750px;
  top: 70px;
  z-index: -1;
}

.followButton{
  position: absolute;
  top: 33px;
  left: 190px
}

#messageProfile{
  position: absolute;
  top: 32px;
  left: 270px
}

#profileUsername{
  font-weight: normal;
}

#followButton{
  color: white;
  background-color: #00BFFF;
  border: none;
  height: 20px;
  width: 70px;
}

.userCounts{
  padding: 0px 50px 0px 0px
}

#profileBio{
  font-weight: normal;
}

#profileProfilePicture{
  border-radius: 50%;
  position: absolute;
  top: 80px;
  left: 480px
}

#profilePictureDiv{
  position: absolute;
  top: 300px;
  left: 450px;
  width: 1000px
}

#profilePictureList > li{
  display: inline-block
}

#pictureListItem{
  padding: 0px 30px 0px 0px
}

.backButton{
  position:absolute;
  right: 20px
}

#viewedPhotoDiv{
  position:absolute;
  left: 300px;
  top: 40px
}

#displayedWords{
  position:absolute;
  left: 1150px;
  background-color: white;
  top: 20px
}

#captionUsername{
  font-weight: bold
}

#viewedPictureCaptions > li{
  padding: 10px 0px
}

#viewedPictureProfile{
  position: absolute;
  top: 15px;
  border-radius: 50%;
}

#topViewedPictureUsername{
  position: relative;
  left: 40px
}

#wholeStory{
  position:absolute;
  left: 660px;
  border: 1px;
  border-color: #dfdfdf;
  border-style: solid;
}

#storiesProfile{
  position:absolute;
  top: 30px;
  border-radius: 50%;
}

#storiesUsername{
  position: absolute;
  top: 14px;
  left: 40px
}

#storyImage{
  position:absolute;
  top: 70px
}

#storiesBackButton{
  position:absolute;
  right: 20px;
  top: 20px;
  height: 30px;
  width: 30px
}

#loginUsername{
  position:absolute;
  left: -50px;
  top: 90px
}
#loginPassword{
  position:absolute;
  left: -50px;
  top: 130px
}

.loginInput{
  width: 300px;
  height: 30px
}

#loginButton{
  position:absolute;
  left: -50px;
  top: 180px;
  width: 310px;
  height: 30px;
  background-color: #1E90FF;
  color: white;
  font-weight: bold
}

#createUserText{
  position:absolute;
  left: 0px;
  top: 230px;
  font-weight: normal
}

#signUp{
  position: absolute;
  left: 150px;
  top: 250px;
  width: 100px
}

.Login{
  position: absolute;
  left: 800px;
  top: 130px;
}

#createUser{
  position: absolute;
  left: 800px;
  top: 80px
}

#createName{
  position: absolute;
  top: 80px;
  left: -60px;
  width: 300px;
  height: 25px
}

#createUsername{
  position: absolute;
  width: 300px;
  left: -60px;
  top: 130px;
  height: 25px
}

#createPassword{
  position: absolute;
  width: 300px;
  height: 25px;
  left: -60px;
  top: 180px
}

#signupButton{
  position:absolute;
  width:308px;
  height: 30px;
  left: -60px;
  top: 240px;
  background-color: #1E90FF;
  color: white;
}

#doneSigning{
  position: absolute;
  top: 300px;
  left: -10px;
  font-weight: normal
}

#doneCreate{
  position:absolute;
  top: 321px;
  left: 130px
}

#createPost{
  position:absolute;
  left: 790px;
  top: 120px
}

#createInstructions{
  font-weight: normal
}

#imagePreview{
  position:absolute;
  left: -40px
}

#createImage{
  position: absolute;
  top: 400px;
  left: -40px;
  width: 300px;
  height: 25px
}

#createCaption{
  position: absolute;
  width: 300px;
  left: -40px;
  top: 440px;
  height: 25px
}

#submitPost{
  position: absolute;
  width: 310px;
  height: 25px;
  left: -40px;
  top: 490px;
  background-color: #1E90FF;
  color: white;
}

#EditProfile{
  position:absolute;
  left: 850px
}

#changeProfile{
  position: absolute;
  left: -180px;
  top: 300px
}

#changeProfileInput{
  position: absolute;
  left: 0px;
  top: 328px;
  width: 300px

}

#changeName{
  position:absolute;
  left: -180px;
  top: 350px
}

#changeNameInput{
  position: absolute;
  top: 375px;
  width: 300px
}

#changeUsername{
  position:absolute;
  top: 395px;
  left: -180px
}

#changeUsernameInput{
  position: absolute;
  top: 421px;
  width: 300px
}

#changeBio{
  position:absolute;
  top: 440px;
  left: -180px
}

#changeBioInput{
  position: absolute;
  top: 465px;
  width: 300px
}


#sampleProfilePicture{
  position:absolute;
  left: -70px
}

#submitEdit{
  position: absolute;
  width: 300px;
  top: 520px;
  background-color: #1E90FF;
  color: white;
  height: 30px
}

#usernameTab{
  position:absolute;
  left: 500px;
  top :130px
}

#chats{
  position: absolute;
  left: 700px;
  
}

#chatName{
  position: relative;
}

#chatProfile{
  position: relative;
  left: -70px;
  top: -60px
}

.receivedMessage{
  position:relative;
  border: 1px;
  border-color: #dfdfdf;
  border-style: solid;
  background-color: #DCDCDC;
  border-radius: 10px
}

.sentMessage{
  position: relative;
  left: 400px;
  border: 1px;
  border-color: #dfdfdf;
  border-style: solid;
  border-radius: 10px;
  width: 100px

}

#messageInput{
  width: 440px;
  position: absolute;
  top: 600px
}

#submitMessage{
  position: absolute;
  top: 600px;
  left: 450px
}

#searchItem{
  z-index: 1;
  background-color: #FFFFFF;
}

#searchImage{
  border-radius: 50%;
}

#searchUsername{
  position:relative;
  top: -20px;
  font-weight: bold
}

#searchName{
  position: relative;
  top: -20px
}

#followerHeader{
  position:absolute;
  left: 100px;
}

#followerList{
  position: absolute;
  top: 100px
}

#followerUsername{
  position:relative;
  top: -75px;
  left: 60px
}

#followerName{
  position:relative;
  top: -90px;
  left: 60px;
  font-weight: normal;
  width: 200px
}

.followerFollow{
  position:relative;
  top: -140px;
  left: 250px
}

#followerTabItem{
  height: 70px
}

#followerFollowButton{
  background-color: #1E90FF;
  color: white;
}

#followerInfo{
  position: absolute;
  left: 780px;
  top: 220px
}

#addStory{
  position: absolute;
  left: 770px;
  top: 150px
}

#storyInput{
  position: absolute;
  top: 400px;
  width: 300px;
  left: -40px
}

#storySubmit{
  position: absolute;
  top: 430px;
  left: -40px;
  width: 310px;
  background-color: #1E90FF;
  color: white;
}

#storyInstructions{
  position: absolute;
  left: 50px;
  width: 200px
}

#imagePreview{
  position:absolute;
  top: 60px;
  bottom: 0px
}

#storyBackButton{
  position:absolute;
  left: -40px
}
